extends layout

block content
	.col-xs-12.main-image
		img(src="img/header-bg.jpg")
	.col-xs-12.product-list
		.col-xs-3
			product A
		.col-xs-3
			product B
		.col-xs-3
			product C
		.col-xs-3
			product D
	.col-xs-12.community-list
		br
		"aaa"
		br
		"bbb"
		br
		"ccc"